*{
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background: #000000;
} 

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-weight: 800;
    font-size: 7vw;
    border-bottom: solid 3px #2b2b2b;
    margin-bottom: 20px;
}
#form{
    width: 100vw;
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 35px;
    margin: 5vw;
}
form > h2{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 3vw;
    margin-top: px;

}
.inputs {
    width: 100%;
    margin: 8px 0;
}
.inputs input {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    background-color: #2b2b2b;
    border: none;
    outline: none;
    font-size: 12pt;
}
.inputs > label {
    display: flex;
    justify-content: flex-start;
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
    color: #c1c1c1cc;
    margin:5px 8px;
}

form > button {
    width: 50%;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 20px;
    padding: 1.5vw;
    color: #ccc;
    background-color:#009e00;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: 800;
    cursor: pointer;
}
form > button:hover{
    scale: 1.03;
    background-color: #016301;
}
form > button:focus{
    background-color: #004b00;

}
.message-sucess {
    display: none;
    background: #00e000;
    font-size: 2vw;
    padding: 2vw;
    border-radius: 5px;
}

.message-erro{
    display: none;
    background: #ff0000;
    font-size: 2vw;
    padding: 2vw;
    border-radius: 5px;
    margin-top: 10px;
}
